@{
    ViewData["Title"] = "Créditos";
}

<div class="credits-container">
    <h1 class="text-center">Créditos</h1>
    <p class="text-center">Este juego fue desarrollado por el equipo de trabajo ESCAPE THE SIMPSONS INC.</p>
    
    <h2>Equipo de Desarrollo</h2>
    <div class="team-list">
        <div class="team-member">
            <strong>Ben Wischñevsky</strong> - Desarrollador y UX
            <div class="team-photo">
                <img src="/img/Ben.jpg" alt="Ben Wischñevsky" />
            </div>
        </div>
        <div class="team-member">
            <strong>Tomás Lendner</strong> - Desarrollador y UI
            <div class="team-photo">
                <img src="/img/Lendner.jpeg" alt="Tomás Lendner" />
            </div>
        </div>
    </div>
    
    <h2>Agradecimientos</h2>
    <p>Agradecemos a nuestros familiares y amigos por su apoyo incondicional durante el desarrollo de este proyecto. También extendemos nuestro agradecimiento a la comunidad de desarrolladores que ha compartido recursos y herramientas útiles.</p>
    
    <h2>Derechos de Autor</h2>
    <p>&copy; @DateTime.Now.Year ESCAPE THE SIMPSONS INC. Todos los derechos reservados.</p>
</div>
