@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1>¡Bienvenido a Escapa de los Simpsons!</h1>
    <p class="lead">¿Podrás resolver las pistas y escapar de Springfield?</p>
</div>
 <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/aDcFhYtiIEM?si=7sjfyVwPL0ePwWz2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
