@{
    ViewData["Title"] = "Tutorial";
}

<div class="text-center">
    <h1>Tutorial de Escapa de los Simpsons</h1>
    <p>¡Bienvenido al tutorial! En este juego tendrás que resolver diferentes pistas para avanzar a través de las salas y finalmente escapar de Springfield.</p>

    <h2>¿Cómo jugar?</h2>
    <p>Cada sala tendrá una pista que deberás descifrar. Ingresa la respuesta correcta en el campo de texto y haz clic en "VALIDAR". Si es correcta, avanzarás a la siguiente sala. Si te equivocas, tendrás que intentarlo de nuevo.</p>

    <h2>Temática del juego</h2>
    <p>Este juego está basado en la famosa serie de televisión "Los Simpsons". Cada sala estará relacionada con un personaje, un lugar o un elemento icónico de la serie.</p>
</div>