@{
    ViewData["Title"] = "Victoria";
}

<div class="victory-container">
    <h1>¡Felicitaciones!</h1>
    <p>Has logrado escapar de Springfield. ¡Bien hecho!</p>
    <div class="victory-image">
        <img src="/img/VICTORIA.png" alt="Victoria" class="imgVictoria">
    </div>
</div>
